* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "Segoe UI", sans-serif;
}

header {
  background-color: #123456;
  fill: white;
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}


header input {
  width: 60%;
  height: 2.5em;
  padding: 1em;
  border-radius: 0.3em;
  font-size: 16px;
}

header input:focus {
  box-shadow: 0em 0 0.6em rgba(49, 111, 247, 0.555);
  border-color: #ffffff 2px solid;
  transition-duration: 200ms;
}

body {
  background-color: #efefef;
}

#tarefas {
  padding: 2em 5em;
}

#tarefas h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 48px;
}

#tarefas h2 button {
  background-color: #123456;
  color: white;
  height: 4em;
  padding: 0.7em 0.7em;
  border-radius: 0.3em;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition-duration: 300ms;
  box-shadow: 0em 0.3em 0.6em rgba(0, 0, 0, 0.2);
}

#tarefas h2 button:hover {
  background-color: #0f2a45;
}

#tarefas h2 button box-icon {
  fill: white;
}

#tarefas h6 {
  text-align: center;
  font-size: 18px;
  margin-top: 1em;
  color: #999;
}

#tarefas ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: 1em;
}

#tarefas ul li {
  background-color: #ffffff;
  width: calc(25% - 0.5em);
  padding: 1em;
  border-radius: 0.3em;
  box-shadow: 0em 0.3em 0.6em rgba(0, 0, 0, 0.2);
  display: initial;
}

#tarefas ul li.oculto {
  display: none;
}

#tarefas ul li h5 {
  font-size: 16px;
  margin-bottom: 16px;
}

#tarefas ul li .actions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
  cursor: pointer;
  fill: #999;
}

#tarefas ul li .actions:hover {
  fill: #123456;
  transition-duration: 200ms;
}

#overlay {
  background-color: #00000080;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition-duration: 300ms;
}

#overlay.active {
  visibility: visible;
  opacity: 1;
}

.modal {
  width: 400px;
  background-color: white;
  padding: 0.7em;
  border-radius: 0.5em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition-duration: 300ms;
}

.modal.active {
  visibility: visible;
  opacity: 1;
}

.modal form h3 {
  font-size: 24px;
  color: #999;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal form h3 box-icon {
  fill: #999;
  cursor: pointer;
}

.modal form h3 box-icon:hover {
  fill: #123456;
  transition-duration: 200ms;
}

.modal form label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 0.4em;
}
.modal form input,
.modal form textarea {
  width: 100%;
  height: 3em;
  padding: 0.5em;
  border: 2px solid #ccc;
  border-radius: 0.3em;
  font-size: 18px;
  margin-bottom: 1em;
}

.modal form input:focus,
.modal form textarea:focus {
  border-color: #123456;
  transition-duration: 300ms;
}

.modal form textarea {
  padding-top: 0.5em;
  height: 10em;
  resize: none;
}

.modal form button {
  background-color: #123456;
  color: white;
  height: 3em;
  width: 100%;
  padding: 0 2em;
  border-radius: 0.3em;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition-duration: 300ms;
}

.modal form button:hover {
  background-color: #0f2a45;
}
